@import "tailwindcss";

@theme {
  --color-ocean-50: #f0f9ff;
  --color-ocean-100: #e0f2fe;
  --color-ocean-900: #0c4a6e;
  
  --font-outfit: var(--font-outfit);
  --font-source: var(--font-source);
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-source;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-outfit text-slate-900;
  }
}
